/* HTML: <div class="loader"></div> */

.container {
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  width: 6.2em;
  padding-bottom: 5px;
  font-weight: bold;
  font-family: monospace;
  font-size: 30px;
  overflow: hidden;
  color: #ffffff;

  background: linear-gradient(#ffffff 0 0) bottom left/0% 3px no-repeat;
  animation: l14 1.5s infinite;
}
.loader:before {
  content: "Cargando...";
  display: block;
  white-space: nowrap;
}
@keyframes l14 {
  0% {
    background-size: 0% 3px;
  }
  80% {
    background-size: 100% 3px;
  }
  100% {
    background-size: 200% 3px;
  }
}
